@(includeMdFile: String)(implicit lang: Lang)

@main("MarkDown viewer") {

	
	<script type="text/javascript" src="/assets/pagedown/Markdown.Converter.js"></script>
	<script type="text/javascript" src="/assets/pagedown/Markdown.Sanitizer.js"></script>
	<script type="text/javascript" src="/assets/pagedown/Markdown.Editor.js"></script>

	<script type="text/javascript">
			(function () {
				$.ajax({url: "@includeMdFile"}).done(function( html ) {
					var converter = Markdown.getSanitizingConverter();
			    $("#md").html(converter.makeHtml( html ));
			  });
		})();
	</script>
	<div id="md">Replaced by MarkDown</div>
}
